*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  height: 100vh;
  background-color: #254750;
}

.page-container {
  height: 100vh;
  display: flex;
}

.photo {
  background: url('./public/images/winnieOffice.jpg');
  background-size: cover;
  -ms-background-position-x: center;
  -ms-background-position-y: center;
  background-position: center center;

  flex: 4;

  padding: 5px;
  position: relative;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.carousel-indicators {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 10%;
  display: flex;
  justify-content: space-around;
}

.carousel-indicators div {
  background-color: gray;

  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.carousel-indicators .active {
  background-color: #fff;
}

.carousel-buttons {
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.carousel-buttons a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 3px solid rgb(170, 170, 170);
  color: black;
  border-radius: 50%;
  color: rgb(170, 170, 170);
}

.carousel-buttons a:hover {
  background-color: #ddd;
  color: black;
}

.tiles {
  flex: 6;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  color: #fff;
}

.tile-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.tile-item:hover p {
  display: none;
}

.tile-item:hover i {
  display: none;
}

.tile-item p {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.tile-item i {
  font-size: 3.5rem;
}

.tile1 {
  grid-column: span 2;
  padding: 0 2rem 0 2rem;
  background-color: #254750;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tile1:hover p {
  display: block;
}

.tile1:hover i {
  display: inline;
}

.tile1 h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;

  font-size: 1.8rem;
}

.tile1 p {
  font-size: 1.1rem;
}

.tile1 div {
  margin-top: 20px;
}

.tile1 div i {
  font-size: 0.7rem;
  margin-right: 5px;
}

.tile1 button {
  padding: 10px 20px;
  margin-right: 20px;

  border: 2px solid #fff;
  background-color: inherit;
  color: #fff;

  font-size: 0.7rem;
}

.tile1 button:hover {
  transform: scale(1.1);
  transition: ease-in 0.2s;
}

.tile2 {
  background-color: #7b3551;
}

.tile2:hover {
  background-image: url('./public/images/winnie1.png');
}

.tile3 {
  background-color: #103339;
}

.tile3:hover {
  background-image: url('./public/images/winnie2.png');
}

.tile4 {
  background-color: #c42f59;
}

.tile4:hover {
  background-image: url('./public/images/winnie3.png');
}

.tile5 {
  background-color: #5e3f50;
}

.tile5:hover {
  background-image: url('./public/images/winnie4.png');
}

.tile6 {
  background-color: #254750;
}

.tile6:hover {
  background-image: url('./public/images/winnie5.png');
}

.tile7 {
  background-color: #7b3551;
}

.tile7:hover {
  background-image: url('./public/images/winnie6.png');
}

.tile8 {
  background-color: #103339;
}

.tile8:hover {
  background-image: url('./public/images/winnie7.png');
}

@media only screen and (min-width: 1600px) {
  .tile1 h1 {
    font-size: 2rem;
  }
  .tile1 p {
    font-size: 1.3rem;
  }
  .tile1 div i {
    font-size: 0.8rem;
  }
  .tile1 button {
    font-size: 1rem;
  }
  .tile-item i {
    font-size: 3.8rem;
  }
}

@media only screen and (max-width: 835px) {
  .page-container {
    flex-direction: column;
  }
  .tiles {
    order: 1;
    grid-template-rows: none;
  }
  .tile1 p {
    font-size: 1rem;
  }
  .tile-item i {
    font-size: 3.3rem;
  }
}

@media only screen and (max-width: 600px) {
  .page-container {
    height: auto;
  }
  .tiles {
    grid-template-columns: repeat(2, 1fr);
  }
  .tile-item {
    padding: 15px;
  }
  .photo {
    height: 300px;
  }
}

@media only screen and (max-width: 420px) {
  .tile-item {
    grid-column: span 2;
  }
}
